{% extends 'delivery/deliver.html' %}
{% block content %}
<div class="container">
    <h3 class="mt-5">Регистрация</h3>
    <form method="post" class="mt-4">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_name">Имя</label>
            {{ form.name }}
            {% if form.name.errors %}
                <div class="text-danger">{{ form.name.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="id_email">Электронная почта</label>
            {{ form.email }}
            {% if form.email.errors %}
                <div class="text-danger">{{ form.email.errors }}</div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </form>
    {% if messages %}
        <div class="mt-4" id="messages-container">
            {% for message in messages %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Находим контейнер с сообщениями
        const messagesContainer = document.getElementById('messages-container');

        // Проверяем, есть ли сообщения
        if (messagesContainer) {
            // Устанавливаем таймер на 3 секунды для скрытия сообщения
            setTimeout(() => {
                messagesContainer.style.display = 'none'; // Скрываем контейнер с сообщениями
            }, 3000); // 3000 миллисекунд = 3 секунды
        }
    });
</script>
{% endblock %}
