{% extends 'shop/layout.html' %}

{% block title %}
    <title>Ваш заказ</title>
{% endblock %}

{% block content %}
    <h1>Ваш заказ</h1>

    <form method="post" action="{% url 'confirm_order' %}">
        {% csrf_token %}
        {% if selected_flower %}
            <div>
                <input type="checkbox" name="flowers" value="{{ selected_flower.id }}" checked>
                <img src="{{ selected_flower.image.url }}" alt="{{ selected_flower.name }}" style="width: 100px; height: auto;">
                {{ selected_flower.name }} - {{ selected_flower.price }} руб.<br>
            </div>
        {% endif %}
        <br>
        <!-- Поле для ввода места доставки -->
        <div>
            <label for="delivery_place">Место доставки:</label>
            <input type="text" id="delivery_place" name="delivery_place" required>
        </div>

        <!-- Поле для ввода даты доставки -->
        <div>
            <label for="delivery_date">Дата доставки:</label>
            <input type="date" id="delivery_date" name="delivery_date" required>
        </div>

        <!-- Поле для комментария -->
        <div>
            <label for="commentary">Комментарий:</label>
            <textarea id="commentary" name="commentary"></textarea>
        </div>

        <br>
        <button class="btn btn-orange" type="submit">Оформить заказ</button>
    </form>
{% endblock %}