{% extends 'shop/layout.html' %}

{% block title %}
    <title>Заказ успешно оформлен</title>
{% endblock %}

{% block content %}
    <h1>Вы оформили заказ №{{ order_id }}</h1>
    <div>
       <h2>Ваши цветы:</h2>
       <ul>
           {% for flower in selected_flowers %}
               <li>
                   <img src="{{ flower.image.url }}" alt="{{ flower.name }}" style="width: 100px; height: auto;">
                   {{ flower.name }} - {{ flower.price }} руб.
               </li>
           {% endfor %}
       </ul>
   </div>
    <p>Всего стоимость заказа: {{ total_sum }} руб.</p>
    <p>Дата доставки: {{ delivery_date }}</p>
    <p>Адрес доставки: {{ delivery_place }}</p>
    <p>Комментарий к заказу: {{ commentary }}</p>
    <h5>Спасибо за ваш заказ!</h5>
{% endblock %}