{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flower-Delivery</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<aside class="d-flex flex-column align-items-center bg-light p-3">
    <img src="{% static 'main/img/buket.jpg' %}" alt="букет" class="img-fluid rounded-circle mb-3" width="150px">
    <span class="h4">Flower-Delivery</span>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Главная</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'catalog' %}">Каталог цветов</a>
        </li><li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Регистрация</a>
        </li>

    </ul>
</aside>
<main class="container mt-4">
    {% block content %}
    {% endblock %}
</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>