{% extends 'base/base.html' %}

{% block title %}О нас - Flowers ONLine{% endblock %}

{% block content %}
<div class="jumbotron mt-4">
    <h1 class="display-4">Добро пожаловать в Flowers ONLine!</h1>
    <p class="lead">Мы рады предложить вам всегда свежие цветы, быструю доставку и индивидуальные заказы.</p>
    <hr class="my-4">
    <p>Наши довольные клиенты и вежливый персонал делают всё возможное, чтобы вы остались довольны.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Наша миссия</h2>
        <p>Мы стремимся приносить радость и красоту в вашу жизнь, доставляя вам только самые свежие и красивые цветы.</p>
    </div>
    <div class="col-md-6">
        <h2>Почему выбирают нас?</h2>
        <ul>
            <li>Всегда свежие цветы</li>
            <li>Быстрая и надежная доставка</li>
            <li>Индивидуальный подход к каждому заказу</li>
            <li>Внимательное и вежливое обслуживание</li>
        </ul>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12">
        <h2>Контактная информация</h2>
        <p>Если у вас есть вопросы или пожелания, пожалуйста, свяжитесь с нами. Мы всегда рады помочь!</p>
        <button class="btn btn-primary" onclick="location.href='{% url 'base:contacts' %}'">Контакты</button>
    </div>
</div>
{% endblock %}